body {
    font: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
}

nav, main > section {
    overflow: auto;
}

main > section {
    min-height: 100vh;
}



#nav {
    justify-content: space-between;
	align-items: baseline;
	padding: 1em;
	background-color: #1d1818;
	color: #eee;
	display: flex;
}

nav h1, ul {
    margin: 0
}

nav a {
	text-decoration: none;
    color: #eee;
}

nav ul {
	display: flex;
	list-style: none;
}
nav ul a {
	padding: 1em;
}

nav ul a:hover {
    color: pink;
}


#banner {
    background-color: darkblue;
    background-image: url(images/van_dragt_102517_0032_how_to_choose_batteries.jpg);
    background-size: cover;
    display: flex;
	justify-content: center;
    align-items: center;
    font-size: 3em;
	color: #fff;
}

#banner h2, #banner p {
	margin: 0;
    text-shadow: 0 0 20px #000;
}

#banner > div {
	margin: 0 auto 0 auto;
}



#ess {
	background-color: rgb(0, 43, 83);

}
#ess h2{
	font-size: 2.5em;
	display: flex;
	justify-content: center;
	color: white;
}

#ess ul {
	list-style: none;
	margin: 0;
    padding: 0;
    display: flex;
	justify-content: center;
	
}

.card {
	width: 400px;
	margin: 1em;
	background-color: rgb(228, 214, 214);
	display:flex;
	flex-direction: column;
}

.card h3{
	margin: 1em;
}
.card p{
	margin: 1em;
	
}
.card img {
	width: 100%;
}


.card-p {
	min-height: 150px;
}
.card button {
	width: 200px;
	font-size: .8em;
	padding: 0.5em 1em;
	color: #fff;
	border: none;
	border-radius: 100px;
	display: flex;
	margin: 2px auto 10px auto;
	justify-content: center;
	align-items: flex-end;
}
 #red{
	 background-color: rgb(143, 0, 0);
 }
 #blue{
	 background-color: rgba(0, 45, 182, 0.795);
 }
 #green{
	 background-color: rgb(69, 173, 8);
 }


#history > div {
	background-color:rgba(255, 255, 255, 0.44);
	padding: 1em;
	width: 75%;
	max-width: 700px;
}



#history{
    background-color: blue;
    background-image: url(images/super-landscape-and-a-big-waterfall-1280x720_785754-mm-90.jpg);
	background-size: cover;
}



#uses {
    background-color: rgb(0, 60, 80);
	color: rgb(0, 0, 0);
    background-image: url();
	background-size: cover;
}

#uses h2{
	font-size: 2em;
	display: flex;
	justify-content: center;
	color: white;
	
}

#uses ul{
	list-style: none;
	margin: 0;
    padding: 0;
    display: flex;
	justify-content: space-around;
	
}

.card-a {
	min-height: 300px;
}

#tech {
    background-color:  navy;
    background-image: url(images/AN2U4823-580x358.jpg);
	background-size: cover;
	color: Black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#tech > div {
	background-color:rgba(255, 255, 255, 0.726);
	padding: 1em;
	width: 75%;
	max-width: 700px;
}

#contact {
    background-color:rgb(43, 24, 124);
    background-image: url();
    background-size: cover;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

#contact h2{
font-size: 3em;
margin: 2em ;
}

label span {
    margin: 1em, 0;
}



input, textarea {
    border: 1px solid #000;
    padding: 0.5em;
    margin: 0 2em 0 0;
    width: 20em;
    font-size: 1em;
}

#contact label{
	display: flex;
	flex-direction: column;
}

input, textarea {
	border: 1px solid #000;
	padding: 0.5em;
	margin: 0 2em 0 0;
	width: 20em;
	font-size: 1em;
}

textarea {
	height: 9em;
	margin: 0 0 0 0;
}

form button {
    display: flex;
    justify-content: center;
	width: auto;
	font-size: 1em;
	margin: 1em 0;
	align-self: flex-end;
	padding: 0.5em 1em;
	background-color:rgb(0, 0, 0);
	color: #fff;
	border: none;
}